*, *::before, *::after {
  box-sizing: border-box;
  /* outline: 1px solid; */
}

:root {
  --primary-background-color: black;
  --secondary-background-color: black;
  
  --primary-text-color: black;
  --secondary-text-color: black;

  --primary-accent-color: black;
  --secondary-accent-color: black;

  --primary-button-color: black;
  --secondary-button-color: black;
}

body {
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  font-family: figtree, sans-serif;
  background-color: rgb(42, 42, 42);
  color: rgb(235, 235, 235);

  display: flex;
  align-items: center;
  justify-content: center;
}

div#root {
  height: 100%;
  width: 100%;
}

.container {
  width: min(100%, 960px);
  margin-inline: auto;
  padding-inline: 1rem;
}

button {
  font-family: figtree, sans-serif;
}

main {
}

.main-section {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: space-around;
  
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.title, .rules {
  text-align: center;
}

.title {
  font-size: 2.1rem;
  font-weight: 600;
  font-variant-caps: small-caps;
}

.rules {
  font-size: 1rem;
  color: rgb(209, 209, 209);
  max-width: 380px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  width: 340px;
  border-radius: 5px;
  /* margin-block: 8px; */
}

.won {
  background-color: rgb(0, 185, 108);;
}

.lost {
background-color: rgb(170, 14, 14);;
}

.status * {
  text-align: center;
  line-height: 24px;
  margin: 8px;
}

.status > h2 {
  font-variant-caps: small-caps;
  font-weight: 600;
}

.farewell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  min-width: 200px;
  border-radius: 5px;
  padding: 10px;
}

.status > p {
  /* font-size: 1.1rem; */
}

.languages {
  /* height: 64px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 10px;

  max-width: 370px;

  gap: 10px;
}

.language {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.language.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.answer {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.answer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 70px;
  
  border-bottom: rgb(183, 183, 183) solid 1px;
  border-radius: 3px;

  background-color: rgb(81, 81, 81);
  margin-block-end: 10px;

  font-variant-caps: all-small-caps;
  font-size: 1.8rem;
}

.keyboard {
  max-width: 680px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;
  padding: 2px;
}

.blurred {
  opacity: 0.4;
}

.key {
  aspect-ratio: 1;
  height: 55px;
  border-radius: 7px;
  border-color: rgb(231, 231, 231);

  background-color: rgb(226, 212, 23);

  font-size: 1.4rem;
  font-weight: 400;

  cursor: pointer;
}

.guessed {
  transform: scale(0.92);
}

.guessed.correct {
  background-color: #30ff49;
}

.guessed.wrong {
  background-color: #ff3a3a;
}

.new-game-wrapper {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.new-game {
  width: 220px;
  height: 50px;
  background-color: rgb(23, 205, 250);
  border-radius: 5px;
  font-variant-caps: small-caps;
  font-size: 1.2rem;
  cursor: pointer;

  opacity: 0;
  transition: opacity 200ms ease;

  pointer-events: none;
}

.new-game.show {
  opacity: 1;
  pointer-events: auto;

  transition: opacity 700ms ease;
}